beautifulsoup4
datasets
gymnasium
matplotlib
nela-features
nltk
numpy
openai
pandas
pyflakes
pytest
requests
scikit-learn
scipy
stable-baselines3
tldextract
torch
torch-geometric
tqdm
trafilatura
transformers
urllib3
